.why {
    padding-bottom: 351px;
    position: relative;
}

.why__container {

    padding-top: 100px;

}

.why__container::before {
    content: "";
    display: block;
    position: absolute;
    width: 1280px;
    height: 577px;
    background-color: #2C343E;
    top: 0;
    z-index: -1;
    border-radius: 10px;
}



.why__title {
    width: 329px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0 auto;

}

.why__description {
    width: 540px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 32px auto 86px;
}

.why__list {
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;


}

.why__item {

    text-align: center;
    width: 350px;
    padding: 72px 48px 48px 47px;
    background: #0E8784;
    border-radius: 8px;
    margin-bottom: -151px;

}

.why__item:not(:last-child) {
    margin-right: 30px;
}

.why__item-title {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;


    text-align: center;

    color: #FEFCF7;
}

.why__item-description {
    width: 255px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

@media screen and (max-width: $tablet){

    .why {
        padding-bottom: 144px;
        
    }
    .why__container {
        padding-top: 56px;
    }
   
    .why__container::before {
        content: "";
        width: 688px;
        height: 573px;
        
    
    }
 
    
    .why__title {
width: 264px;
font-size: 32px;
line-height: 48px;
margin-left: 212px;
    }

    .why__description{
        width: 540px;
        font-size: 15px;
        line-height: 25px;
       margin-left: 74px;
        margin-bottom: 70px;
    }

    .why__list {
        flex-direction: column;
        max-width: 573px;
    }

    .why__item {
        display: flex;
        width: 573px;
        margin-bottom: 50px;
        padding: 41px 48px 41px 70px;
    }
  
    .why__item-title {
        width: 255px;
        margin: 0 0 16px 0;
        text-align: left;
    
    }
    .why__item-description {
        width: 344px;
        margin: 0;
        text-align: left;

    }
    .why__item-img {

        margin-right: 55px;
    }
    .why__item:not(:last-child) {
        margin-bottom: 16px;
    }
    
    
}

@media screen and (max-width: $mobile){

    .why {
        padding-bottom: 120px;
        text-align: center;
    }
    .why__container {
       padding-top: 64px;
       
    }
    

       .why__container::before {
        content: "";
        width: 327px;
        height: 902px;
    }
    .why__title {
font-size: 28px;
line-height: 28px;
margin-left: 24px;
    }

.why__description {
    width: 279px;
    font-size: 15px;
    line-height: 25px;
margin: 24px 24px 0;

}
.why__list {
    padding-inline-start: 0;
}

.why__item {
    width: 279px;
   flex-direction: column;
   padding: 62px 33px 51px;
   margin-left: 24px;
  
}

.why__item-title {
    text-align: center;
}
.why__item-description {
    width: 212px;
    text-align: center;
 font-size: 15px;
line-height: 25px;

}

.why__item-img {
    margin: 0 auto 51px;
}


}
